<style type="text/css">
    @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");

    body {
        background-color: #535fe6;
        font-family: "Poppins", sans-serif;
        font-weight: 300
    }

    .card {
        border: none;
        padding: 20px;
        background-color: #1c1e21;
        color: #fff
    }

    .circle {
        height: 20px;
        width: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #5855e7;
        color: #fff;
        font-size: 10px;
        border-radius: 50%
    }


</style>

<div class="container mt-5 mb-5 ">
    <div class="row d-flex align-items-center justify-content-center">
        <div class="col-md-6">
            <div class="card px-5 py-5"> <span class="circle"><i class="fa fa-check"></i></span>
                <h5 class="mt-3">Registrar</h5> 
                <small class="mt-2 text-muted">
                    Proceso de registro para plataforma educativa.
                </small>
                
                <div class="mt-3 form-input"> 
                    <input type="email" class="form-control text-white bg-dark" placeholder="Email address"> 
                </div>
                <div class="mt-4 form-input"> 
                    <input type="text" class="form-control text-white bg-dark" placeholder="Matrícula"> 
                </div>
                <div class="mt-4 form-input"> 
                    <input type="text" class="form-control text-white bg-dark" placeholder="Nombre"> 
                </div>
                <div class="mt-4 form-input"> 
                    <input type="text" class="form-control text-white bg-dark" placeholder="Apellido Paterno"> 
                </div>
                <div class="mt-4 form-input"> 
                    <input type="text" class="form-control text-white bg-dark" placeholder="Apellido Materno"> 
                </div>
                <div class="mt-4 form-input"> 
                    <input type="password" class="form-control text-white bg-dark" placeholder="Password"> 
                </div>
                <button class="btn btn-primary mt-4 signup">Enviar</button>
            
                <div class="text-center mt-4"> <span>Ya estás registrado?</span> <a href="#" class="text-decoration-none">Login</a> </div>
            </div>
        </div>
    </div>
</div>